* {
  color: #5d9b9b;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  font-style: italic;
}

.loja {
  height: 80px;
  background-color: #5d9b9b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.loja img {
  padding: 15px 0;
  width: 200px;
}

#entrar {
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 7px;
  display: flex;
}

#entrar a {
  color: white;
  font-weight: bold;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cadastrar {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 7px;
  display: flex;
}

#cadastrar a {
  color: #5d9b9b;
  font-weight: bold;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#barra_pesquisa input {
  width: 700px;
  height: 25px;
  background: url(../../assets/imagens/mdi_search.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: white;
  border-radius: 10px;
  border: none;
}

#capa {
  width: 100%;
  height: 220px;
  background-color: rgb(239, 239, 239);
  display: flex;
  margin-top: 30px;
}

#foto {
  width: 200px;
  height: 200px;
  background-color: rgb(239, 239, 239);
  display: flex;
  border-radius: 150px;
  position: relative;
  bottom: 170px;
  left: 60px;
}

#foto img {
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#hora_func {
  height: 100%;
  width: 300px;
  background-color: rgb(255, 255, 255, 0.7);
  position: relative;
  left: 750px;
  color: #5d9b9b;
}

#hora_func h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  color: #5d9b9b;
}

#hora_func ul {
  font-size: 12px;
  color: #5d9b9b;
}

#time {
  display: flex;
  color: #5d9b9b;
}

#horario {
  display: flex;
  height: 25px;
  color: #5d9b9b;
}

#horario p {
  font-size: 12px;
  color: #5d9b9b;
}

#nome_slogan {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  text-align: center;
  bottom: 180px;
  left: 80px;
}

#nota {
  position: relative;
  bottom: 430px;
  left: 400px;
  border-radius: 9px;
  width: 150px;
  height: 120px;
  background-color: white;
  margin: none;
}

#avaliacao {
  position: relative;
  bottom: 550px;
  left: 700px;
  border-radius: 9px;
  width: 300px;
  height: 120px;
  background-color: white;
  margin: none;
}

#avaliacao h4 {
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catalogo {
  position: relative;
  left: 50px;
  width: 1000px;
  height: 100%;
  bottom: 130px;
  color: #5d9b9b;
}

#titulo {
  display: flex;
  margin: auto;
  align-items: center;
  position: relative;
  color: #5d9b9b;
}

#titulo button {
  background-color: #5d9b9b;
  color: white;
  width: 140px;
  height: 30px;
  margin-left: 30px;
  border: none;
  border-radius: 20px;
}

.itens #item {
  width: 100%;
  color: #5d9b9b;
  display: flex;
  flex: 1 1;
  justify-content: center;
  flex-wrap: wrap;
}

#descricao{
    position: relative;
    left: 100n0px;
    bottom: 400px;
    width: 250px;
    height: 500px;
    background-color:white;
    justify-content: center;
    text-align: center;
  }
  
  #descricao h3{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
